.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.5rem;
  column-gap: 0.1rem;
  padding: 1rem;
  min-height: 60%;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  font-size: calc(1vw + 10px);
}

.button__operation {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: 700;
  cursor: pointer;
  background-color: orange;
  color: whitesmoke;
}

.button__number {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: 700;
  cursor: pointer;
  font-weight: 500 !important;
}

.button__operation-purple {
  background-color: purple;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .calculator__buttons {
    font-size: calc(1vw + 16px);
  }
}